Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-11, with the labels that each got.

#263 [835] Checklist tooltip styling fix
  assets/styles/elements/_Checklist.scss
Labels: status:ready-to-merge, status:review-OK

#262 [904] fix: picture element not loading properly
  assets/styles/common/_global.scss
  assets/styles/common/_lightbox.scss
  assets/styles/common/_sanitize.scss
  assets/styles/common/splide.scss
  assets/styles/components/AffiliateManagerCard.scss
  assets/styles/components/AwardsSmall.scss
  assets/styles/components/SliderCutted.scss
  assets/styles/components/SliderTestimonials.scss
  assets/styles/components/_AffiliateDuo.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockBadges.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_BlockPoints.scss
  assets/styles/components/_BlockPricingNew.scss
  assets/styles/components/_BlockSolutions.scss
  assets/styles/components/_BlockTrial.scss
  assets/styles/components/_BlockVideo.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_BoxesImage.scss
  assets/styles/components/_BoxesStars.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_Clients.scss
  assets/styles/components/_FeaturesSlider.scss
  assets/styles/components/_FullHeadline.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_HeroHeadlinePage.scss
  assets/styles/components/_Portals.scss
  assets/styles/components/_Reference.scss
  assets/styles/components/_Reviews.scss
  assets/styles/components/_ShortPricing.scss
  assets/styles/components/_ShortTrial.scss
  assets/styles/components/_SimilarIntegrations.scss
  assets/styles/components/_TestimonialsBlock.scss
  assets/styles/components/_VerticalTabs.scss
  assets/styles/components/_VideoIntro.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_Blog.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_Depending.scss
  assets/styles/layouts/_ErrorPage.scss
  assets/styles/layouts/_Footer.scss
  assets/styles/layouts/_FullScreen.scss
  assets/styles/layouts/_Gutenberg.scss
  assets/styles/layouts/_Header.scss
  assets/styles/layouts/_Post.scss
  assets/styles/layouts/_PostHeader-narrow.scss
  assets/styles/layouts/tests/_RequestDemo.scss
  assets/styles/layouts/tests/_ScheduleDemo.scss
  assets/styles/pages/About.scss
  assets/styles/pages/Archive.scss
  assets/styles/pages/Directory.scss
  assets/styles/pages/SuccessStoriesArticle.scss
  assets/styles/vendor/elementor-cherrypick.scss
  lib/widgets/qu-howtos/src/scss/_howto.scss
Labels: status:ready-to-merge, status:review-OK

#258 [880] fix: signup and other scripts loading on sidebar
  assets/scripts/app/signup_login_js_loader.js
  assets/scripts/custom/sidebar_items_slider.js
Labels: status:ready-to-merge, status:review-OK

#261 [863] asc order of integrations posts
  functions/post-query-mods.php
Labels: status:done, status:review-OK

#256 [829] Directory detail titles styles
  assets/images/dotted-line.svg
  assets/styles/pages/Directory.scss
  lib/includes/affiliate-manager/affiliate-manager-layout.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#264 fix: lightbox for modal dialog (aff manager dir)
  assets/styles/common/_lightbox.scss
Labels: status:ready-to-merge, status:review-OK

#259 [890] Function "load_inline_svg" removed
  assets/images/icon_social_facebook.svg
  assets/images/icon_social_twitter.svg
  assets/images/icon_social_whatsapp.svg
  assets/images/icon_social_youtube.svg
  assets/styles/components/AffiliateManagerCard.scss
  assets/styles/layouts/_Footer.scss
  lib/extras.php
  templates/content-single-ms_directory.php
  templates/footer.php
Labels: status:review-OK

#278 [916] fix: login, support for multiple signup forms on same page
  assets/scripts/app/signup_login_js_loader.js
  assets/scripts/static/crm.js
  assets/scripts/static/crm_br.js
  assets/scripts/static/crm_de.js
  assets/scripts/static/crm_en.js
  assets/scripts/static/crm_es.js
  assets/scripts/static/crm_fr.js
  assets/scripts/static/crm_hu.js
  assets/scripts/static/crm_it.js
  assets/scripts/static/crm_network_br.js
  assets/scripts/static/crm_network_de.js
  assets/scripts/static/crm_network_en.js
  assets/scripts/static/crm_network_es.js
  assets/scripts/static/crm_network_fr.js
  assets/scripts/static/crm_network_hu.js
  assets/scripts/static/crm_network_it.js
  assets/scripts/static/crm_network_nl.js
  assets/scripts/static/crm_network_pl.js
  assets/scripts/static/crm_network_sk.js
  assets/scripts/static/crm_nl.js
  assets/scripts/static/crm_pl.js
  assets/scripts/static/crm_sk.js
  assets/scripts/static/login.js
  assets/scripts/static/login_br.js
  assets/scripts/static/login_de.js
  assets/scripts/static/login_en.js
  assets/scripts/static/login_es.js
  assets/scripts/static/login_fr.js
  assets/scripts/static/login_hu.js
  assets/scripts/static/login_it.js
  assets/scripts/static/login_nl.js
  assets/scripts/static/login_pl.js
  assets/scripts/static/login_sk.js
  assets/styles/components/Signup.scss
  assets/styles/components/_Loader.scss
  assets/styles/components/_SignupSidebar.scss
  gulpfile.js
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form-trial.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:ready-to-merge, status:review-OK

#276 [904] fix: adding missing function to bloglazyload js
  .eslintrc
  assets/scripts/custom/blogLazyLoad.js
Labels: status:ready-to-merge, status:review-OK

#252 [611] feat: redesign of directory page
  .eslintrc
  .gitignore
  assets/images/checkbox-hover.svg
  assets/images/checkbox-inactive.svg
  assets/scripts/app/stickyViaAbsolute.js
  assets/scripts/custom/blogLazyLoad.js
  assets/scripts/custom/dropdown.js
  assets/scripts/custom/filter.js
  assets/scripts/custom/filterMenu.js
  assets/scripts/custom/slider.js
  assets/scripts/custom/sortingMenu.js
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_variables.scss
  assets/styles/components/Filter.scss
  assets/styles/elements/_Form.scss
  assets/styles/pages/Archive.scss
  lib/pagesources.php
  templates/content-archive-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#282 [897, 910, 932] Trial Signup Improvements and Fixes
  assets/scripts/static/crm.js
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form-trial.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:review-OK

#295 [933] Hero image with border radius
  assets/styles/components/_HeroHeadlineHome.scss
Labels: status:review-OK

#296 fix: icons generator, adding css files
  gulpfile.js
  package.json
  template-academy.php
  template-blog.php
  yarn.lock
Labels: status:review-OK

#297 fix: multiple layout fixes, function for components fix
  assets/styles/app.scss
  assets/styles/components/BlockPricing.scss
  assets/styles/components/BlockTrial.scss
  assets/styles/components/CTA.scss
  assets/styles/components/_Login.scss
  assets/styles/elements/_Button.scss
  functions/components-import.php
  functions/import-functions.php
  lib/shortcodes/block-pricing.php
  lib/shortcodes/cta.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#299 feat: added countdown banner and missing css fixes
  assets/scripts/custom/countdown.js
  assets/styles/app.scss
  assets/styles/components/BlockCoupon.scss
  assets/styles/elements/_Checklist.scss
  assets/styles/elements/_Typography.scss
  assets/styles/shortcodes/Countdown.scss
  functions/components-import.php
  functions/shortcodes.php
  lib/includes/affiliate-manager/affiliate-manager-layout.php
  lib/pagesources.php
  lib/shortcodes/countdown.php
  templates/content-archive.php
  templates/content-single.php
Labels: status:review-OK

#300 fix: small website bugs
  assets/images/checkbox-unactive.svg
  assets/styles/components/BlockVideo.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Checklist.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_Post.scss
  assets/styles/layouts/tests/RequestDemo.scss
  assets/styles/shortcodes/CTA.scss
  functions/components-import.php
  lib/shortcodes/cta.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#308 [950] Directory design changes
  assets/scripts/app/stickyViaAbsolute.js
  assets/styles/components/Filter.scss
  assets/styles/layouts/Header.scss
  assets/styles/pages/Archive.scss
  composer.lock
  gulpfile.js
  lib/includes/affiliate-manager/affiliate-manager.php
  lib/includes/affiliate-manager/archive.php
  templates/content-archive-ms_directory.php
  templates/content-single-ms_directory.php
Labels: status:review-OK
