Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-10, with the labels that each got.

#206 [665] Affiliate network software
  assets/images/flags.svg
  assets/images/sideribbon_arrow.svg
  assets/styles/app.scss
  assets/styles/common/_fontello.scss
  assets/styles/common/_mixins.scss
  assets/styles/components/_BlockPricing.scss
  assets/styles/elements/_SideRibbon.scss
  assets/styles/elements/_Typography.scss
  assets/webfonts/fontello.eot
  assets/webfonts/fontello.svg
  assets/webfonts/fontello.ttf
  assets/webfonts/fontello.woff
  assets/webfonts/fontello.woff2
  functions.php
  functions/import-functions.php
  functions/sideribbon-arrow.php
Labels: status:ready-to-merge, status:review-OK

#208 [799] Box-primary in Block--lines on mobile
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#207 [802] Feature on mobile
  assets/styles/components/_CategoryItem.scss
Labels: status:ready-to-merge, status:review-OK

#201 [673] Larger spaces between elements
  assets/styles/common/_variables.scss
  assets/styles/elements/_Checklist.scss
Labels: status:ready-to-merge, status:review-OK

#200 [674] Margins between blocks
  assets/styles/common/_variables.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_BlockPoints.scss
  assets/styles/components/_BlockPricing.scss
  assets/styles/components/_BlockSolutions.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_Faq.scss
  assets/styles/components/_Reviews.scss
  assets/styles/components/_Text.scss
Labels: status:ready-to-merge, status:review-OK

#189 [762] New checkbox field to hide Bio for Affiliate Managers
  assets/styles/pages/About.scss
  assets/styles/pages/Directory.scss
  lib/includes/affiliate-manager.php
  lib/metaboxes/affiliate-manager.php
  taxonomy-ms_directory_affiliate_manager.php
Labels: status:ready-to-merge, status:review-OK

#199 [786] fix: applied same font family for whole headline
  assets/styles/components/_ExtraFaq.scss
Labels: status:ready-to-merge, status:review-OK

#209 chore: bump theme version to 1.0.20
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#224 fix: add security features pillar image
  .gitignore
  assets/images/features_pillar_security.svg
  assets/styles/pages/CategoryImages.scss
Labels: status:ready-to-merge, status:review-OK

#225 fix: affiliate program directory archive
  CHANGELOG.md
  assets/images/flags.svg
  functions.php
  style.css
  templates/content-archive-ms_directory.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#226 fix: fontello and heroheader
  CHANGELOG.md
  assets/images/icontabs_chart.svg
  assets/styles/common/_fontello.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/webfonts/fontello.eot
  assets/webfonts/fontello.svg
  assets/webfonts/fontello.ttf
  assets/webfonts/fontello.woff
  assets/webfonts/fontello.woff2
  functions.php
  style.css
Labels: status:review-OK

#227 fix: icontab chart not loading
  CHANGELOG.md
  assets/scripts/custom/IconTabs.js
  functions.php
  style.css
Labels: status:review-OK

#228 [822] WhatsApp icon in footer
  assets/images/icon_social_facebook.svg
  assets/images/icon_social_twitter.svg
  assets/images/icon_social_whatsapp.svg
  assets/images/icon_social_youtube.svg
  assets/styles/layouts/_Footer.scss
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#230 [835] feat: pros/cons checklists
  assets/images/icon-post-cons.svg
  assets/images/icon-post-pros.svg
  assets/styles/elements/_BulletLists.scss
  assets/styles/elements/_Checklist.scss
  assets/styles/elements/_PostTypography.scss
  yarn.lock
Labels: status:ready-to-merge, status:review-OK

#233 [815] SVG icons sprite
  .gitignore
  composer.json
  composer.lock
  functions/content-filters.php
  gulpfile.js
  lib/shortcodes/language-switcher.php
Labels: status:ready-to-merge, status:review-OK, action:needs-testing

#235 chore: bump theme version to 1.2.0
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#238 [862] feat: removing lazyload support from theme implemented by urlslab plugin
  assets/scripts/app/custom_lazyload.js
  assets/scripts/app/custom_lightbox_youtube.js
  assets/scripts/custom/custom_lightbox.js
  assets/styles/common/_lightbox.scss
  assets/styles/components/_BlockVideo.scss
  functions.php
  functions/lazy-load-youtube-microdata.php
  functions/lazy-load.php
  lib/shortcodes/good-hands.php
  lib/shortcodes/login.php
  lib/shortcodes/people.php
  lib/shortcodes/signup-sidebar.php
  templates/content-archive.php
Labels: status:ready-to-merge, status:review-OK

#236 [815] fix: implemented svg icons in the main menu
  assets/styles/layouts/_Header.scss
  composer.lock
  gulpfile.js
Labels: status:ready-to-merge, status:review-OK

#237 [846] fix: affiliate directory manager
  assets/styles/layouts/_Header.scss
  assets/styles/pages/Directory.scss
  lib/includes/affiliate-manager/affiliate-manager-layout.php
Labels: status:ready-to-merge, status:review-OK

#239 [724] fix: schema url in hostname
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#253 fix: removing lazyload from signup critical scripts
  assets/scripts/custom/sidebar_toc.js
  lib/shortcodes/login.php
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form-trial.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
Labels: status:ready-to-merge, status:review-OK

#234 [725] Fixed logos' aspect ratio in integrations detail
  assets/styles/layouts/_Post.scss
Labels: status:ready-to-merge, status:review-OK

#254 [878] fix: images loading 2x with sidebar
  assets/scripts/custom/sidebar_items_slider.js
  assets/scripts/custom/sidebar_toc.js
Labels: status:ready-to-merge, status:review-OK

#255 chore: bump theme version to 1.3.0
  CHANGELOG.md
  functions.php
  lib/widgets/qu-howtos/yarn.lock
  style.css
Labels: status:review-OK

#257 [734] fix: remove schema.org fix
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK
