Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-07, with the labels that each got.

#85 [544] fix: html encoding for textarea
  lib/shortcodes/copy.php
Labels: status:ready-to-merge, status:review-OK

#86 [529] fix: header description text overflow and color
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge, status:review-OK

#87 [535] Affiliate research
  assets/images/affiliate_marketing_research.png
  assets/scripts/custom/filter.js
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_variables.scss
  assets/styles/components/CategoryHeaderNew.scss
  assets/styles/components/ResearchFilter.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_BoxShadow.scss
  assets/styles/components/_CategoryHeader.scss
  assets/styles/elements/_CategoryTag.scss
  assets/styles/layouts/ArchiveColumns.scss
  assets/styles/layouts/_Blog.scss
  functions/post-types.php
  functions/redirects.php
  functions/taxonomies.php
  lib/includes/tag-colors.php
  lib/post-types/research.php
  lib/taxonomies/research-categories.php
  templates/content-archive-ms_academy.php
  templates/content-archive-ms_features.php
  templates/content-archive-ms_integrations.php
  templates/content-archive-ms_research.php
  templates/content-archive-ms_templates.php
  templates/content-archive.php
  templates/content-single-ms_research.php
Labels: status:done, status:review-OK

#88 feat: implement urlslab plugin as related resources source
  elementor.php
  template-academy.php
  template-blog.php
  templates/content-page.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_research.php
  templates/content-single-ms_templates.php
  templates/content-single.php
Labels: status:done

#90 [535] fix: language switcher
  assets/styles/components/_HeaderLanguageSwitcher.scss
Labels: prio:high, status:ready-to-merge, status:review-OK

#91 chore: bump theme version to 1.0.9
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge

#92 [594] feat: add related resources to directory
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#94 [465] fix: removing yt microdata cache refresh
  functions/lazy-load-youtube-microdata.php
Labels: status:ready-to-merge

#101 [608] Academy small bug fixes
  assets/scripts/custom/filter.js
  assets/styles/components/_CategoryHeader.scss
  templates/content-archive-ms_academy.php
Labels: status:review-OK

#102 feat: remove old related resources
  functions/shortcodes.php
  lib/shortcodes/similar-sources.php
  outputs.csv
Labels: status:ready-to-merge, status:review-OK

#104 [563] Subtitle on Integration page
  templates/content-archive-ms_integrations.php
Labels: status:ready-to-merge, status:review-OK

#93 [458] fix: aff directory payouts
  templates/content-single-ms_directory.php
Labels: status:done

#103 [490] Browser window to screenshot
  assets/images/browser_window.svg
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#106 [486] feat: added block video
  assets/images/arrow_small.svg
  assets/images/press_to_play.svg
  assets/styles/app.scss
  assets/styles/common/_elementor.scss
  assets/styles/common/_variables.scss
  assets/styles/components/_BlockVideo.scss
Labels: status:ready-to-merge, status:review-OK

#105 chore: bump theme version to 1.0.10
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge

#111 [610] fix: how to text formatting
  lib/widgets/qu-howtos/src/scss/_editor-styles.scss
  lib/widgets/qu-howtos/src/scss/_howto.scss
  lib/widgets/qu-howtos/src/scss/editor.scss
  lib/widgets/qu-howtos/webpack.config.js
Labels: status:ready-to-merge, status:review-OK

#107 [490] fix: safari hover on directory screenshot
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK, action:needs-review

#121 fix: unescaped url global variable
  taxonomy-ms_directory_affiliate_manager.php
Labels: status:ready-to-merge, status:review-OK

#114 [615] Item title size in How-to widget
  lib/widgets/qu-howtos/layouts/howto-item.php
Labels: status:ready-to-merge, status:review-OK

#122 fix: rewriting regex for schema/lazy to dom parser
  functions/lazy-load-youtube-microdata.php
Labels: status:ready-to-merge, status:review-OK
