Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-09, with the labels that each got.

#152 [692] fix: fix of not saving title of affiliate manager
  lib/includes/affiliate-manager.php
  lib/metaboxes/affiliate-manager.php
Labels: status:ready-to-merge, status:review-OK, action:needs-action-after-deploy

#164 [726] Buttons in Header and Hero section
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/layouts/_Header.scss
  templates/header.php
Labels: status:ready-to-merge, status:review-OK

#168 [666] Affiliate program changes
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#169 [641] Tour page fixes
  assets/images/press_to_play_bottom.svg
  assets/styles/common/_elementor.scss
  assets/styles/components/_BlockPricingNew.scss
  assets/styles/components/_BlockVideo.scss
  assets/styles/components/_MerchantAffiliate.scss
  assets/styles/layouts/tests/_RequestDemo.scss
Labels: status:ready-to-merge, status:review-OK

#166 [721] homepage sections look
  assets/styles/components/_Boxes.scss
  assets/styles/components/_PapPanHomeSplit.scss
Labels: status:review-OK

#165 [694] LA elements and new default shadow
  assets/images/block-channels-bg--primary.svg
  assets/styles/app.scss
  assets/styles/common/_variables.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_BoxesImage.scss
  assets/styles/components/_BoxesStars.scss
Labels: status:review-OK, action:needs-action-after-deploy

#171 chore: bump theme version to 1.0.16
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#175 [664] feat: aff software page redesign, carousel
  assets/scripts/custom/slider.js
  assets/styles/common/_variables.scss
  assets/styles/common/splide.scss
  assets/styles/components/AwardsSmall.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_HorizontalTabs.scss
  assets/styles/components/_Reference.scss
  assets/styles/elements/_Button.scss
  assets/styles/elements/_Typography.scss
  functions/shortcodes.php
  lib/shortcodes/awards-small.php
  lib/shortcodes/slider-testimonials-reference.php
Labels: status:ready-to-merge, status:review-OK

#176 [743] GTM scripts
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#186 [767] fix: button class name
  CHANGELOG.md
  assets/styles/elements/_Button.scss
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK

#187 [665] Redesign of Affiliate network software page
  assets/images/block-channels-bg--primary.svg
  assets/images/blockpricing_new_bg_left.svg
  assets/images/blockpricing_new_bg_right.svg
  assets/images/box-award.svg
  assets/images/box-bg-left--default.svg
  assets/images/box-bg-left--primary.svg
  assets/images/box-bg-right--default.svg
  assets/images/box-bg-right--primary.svg
  assets/images/icontabs_bg.svg
  assets/images/pappan_home_el_l.svg
  assets/images/pappan_home_el_r.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_BlockChannels.scss
  assets/styles/components/_BlockPricing.scss
  assets/styles/components/_BlockPricingNew.scss
  assets/styles/components/_BlockTrial.scss
  assets/styles/components/_PapPanHomeSplit.scss
Labels: status:ready-to-merge, status:review-OK, action:needs-testing

#188 chore: bump theme version to 1.0.19
  CHANGELOG.md
  functions.php
  style.css
Labels: status:done, status:review-OK
