Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-06, with the labels that each got.

#48 feat: project management improvements
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/add_to_project.yml
  .github/workflows/labeler.yml
Labels: action:needs-review

#47 [500] fix: pap tracking with/without cookie, same id fix
  assets/scripts/static/crm.js
  base.php
  lib/shortcodes/signup-form-trial.php
  templates/footer.php
Labels: status:ready-to-merge

#37 style: adjusted height of hover effect on more integrations button
  assets/styles/layouts/_Header.scss
Labels: status:ready-to-merge

#54 [458] feat: adding content to affiliate directories
  assets/styles/common/_global.scss
  assets/styles/pages/Directory.scss
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge

#57 [500] fix: pap tracking script on cookie accept
  base.php
Labels: status:done

#58 fix: smaller vertical space of left menu items
  assets/styles/components/_CategorySidebar.scss
Labels: status:ready-to-merge

#72 [554] Blog category fix
  assets/styles/layouts/_BlogPost.scss
  templates/content-single.php
Labels: action:needs-review

#71 chore: bump theme version to 1.0.7
  CHANGELOG.md
  functions.php
  style.css
Labels: status:done
