Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2022-08, with the labels that each got.

#124 [622] feat: allow program url to be optionally follow/nofollow
  lib/metaboxes/directory.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#108 [546] Redesign of AffiliateManagerCard element
  assets/images/arrow_small_right.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/AffiliateManagerCard.scss
  lib/extras.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#131 fix: disable force moving js to footer
  lib/setup.php
Labels: status:ready-to-merge, status:review-OK

#133 chore: bump theme version to 1.0.13
  CHANGELOG.md
  functions.php
  style.css
Labels: action:needs-review

#132 [636] feat: adding affiliate software part to directory
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#134 [541] style: replaced banner images
  assets/images/bg_category_integrations.svg
  assets/images/bg_category_templates.svg
  assets/images/features_bg.svg
Labels: status:ready-to-merge, status:review-OK

#137 [565] fix: removed external link icon for uploads on our cdn
  assets/styles/elements/_Typography.scss
Labels: status:ready-to-merge, status:review-OK

#138 chore: bump theme version to 1.0.14
  CHANGELOG.md
  functions.php
  style.css
Labels: status:review-OK

#145 [666] fix: aff manager and aff directory text changes
  lib/includes/affiliate-manager.php
  taxonomy-ms_directory_affiliate_manager.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#148 [696] how template category and changed image gradient
  assets/styles/components/_CategoryItem.scss
  templates/content-archive-ms_templates.php
Labels: status:ready-to-merge, status:review-OK

#150 [712] feat: analytics scripts loading on mobile after clicking accept
  base-scripts.php
  base.php
Labels: status:ready-to-merge, status:review-OK

#149 chore: bump theme version to 1.0.15
  CHANGELOG.md
  functions.php
  style.css
Labels: status:ready-to-merge, status:review-OK
