Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2023-02, with the labels that each got.

#371 [1073] fix: repair wrong links
  lib/shortcodes/alternatives.php
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form-trial.php
  lib/shortcodes/signup-form.php
  lib/shortcodes/signup-sidebar.php
  template-trial-network.php
  templates/footer.php
Labels: status:review-OK

#386 [1063] fix: signup sidebar padding
  assets/styles/common/_global.scss
  assets/styles/layouts/_Post.scss
Labels: status:ready-to-merge, status:review-OK

#387 [1057] New homepage design feedback
  assets/styles/common/_global.scss
  assets/styles/components/_Boxes.scss
Labels: status:ready-to-merge, status:review-OK

#388 [1084] homepage scroll issue
  assets/styles/components/_HeroHeadlineHome.scss
Labels: status:ready-to-merge, status:review-OK

#390 feat: nofollow links in contact us element
  contactus-box.php
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#391 fix: wrong affiliate link in the list
  lib/includes/affiliate-manager/archive.php
Labels: status:ready-to-merge, status:review-OK

#389 [2676] important note
  assets/styles/layouts/_Post.scss
  lib/includes/affiliate-manager/affiliate-manager-layout.php
  templates/content-archive-ms_glossary.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#393 [1095] fix: blog lazyloading, awards in home header
  assets/scripts/custom/blogLazyLoad.js
  assets/styles/components/_AwardsHeroHeader.scss
Labels: status:review-OK

#392 [806] Pricing block title
  assets/styles/components/BlockPricingNew.scss
Labels: status:review-OK

#395 [1097] fix: small fix to awards due to custom elementor styles (removed)
  assets/styles/components/_AwardsHeroHeader.scss
Labels: status:ready-to-merge, status:review-OK

#394 [1080] Pricing section variants
  assets/styles/components/BlockPricingNew.scss
Labels: status:ready-to-merge, status:review-OK

#396 [1102] fix: remove emoji from no results found page
  assets/styles/pages/Archive.scss
  assets/styles/pages/Category.scss
Labels: status:done, status:review-OK

#397 [2705] feat: change design of the links
  assets/images/icon-arrow-grey.svg
  assets/styles/common/_elementor.scss
  assets/styles/common/_variables.scss
  assets/styles/components/AffiliateDuo.scss
  assets/styles/components/HorizontalTabs.scss
  assets/styles/components/IconTabs.scss
  assets/styles/components/SidebarTOC.scss
  assets/styles/components/SignupSidebar.scss
  assets/styles/components/_Block.scss
  assets/styles/components/_Box.scss
  assets/styles/components/_BoxFullWidth.scss
  assets/styles/components/_Boxes.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/_ContactUs.scss
  assets/styles/components/_Faq.scss
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/components/_HeroHeadlineHome.scss
  assets/styles/components/_PapPanHomeSplit.scss
  assets/styles/elements/_CategoryTag.scss
  assets/styles/elements/_IndexMenu.scss
  assets/styles/elements/_PostTypography.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/Footer.scss
  assets/styles/layouts/Header.scss
  assets/styles/layouts/_AffiliateManagerDirectory.scss
  assets/styles/layouts/_Blog.scss
  assets/styles/layouts/_BlogPost.scss
  assets/styles/layouts/_Pricing.scss
  assets/styles/pages/Archive.scss
  assets/styles/shortcodes/Signup.scss
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#398 [1131] fix: hide german cookie bar
  assets/styles/components/_CookieBar.scss
Labels: status:review-OK
