Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2023-01, with the labels that each got.

#325 [952] Footer redesign
  assets/styles/components/_Newsletter.scss
  assets/styles/layouts/Footer.scss
  functions/content-filters.php
  lib/setup.php
  lib/shortcodes/newsletter-form.php
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#347 [1012] fix: multiple css fixes, added dynamic paths in urls in css
  assets/styles/components/FormPopup.scss
  assets/styles/components/_Login.scss
  gulpfile.js
  lib/includes/affiliate-manager/archive.php
  lib/shortcodes/login.php
  package.json
  templates/content-archive-ms_directory.php
  yarn.lock
Labels: action:needs-review

#352 [952] Footer content changes
  templates/footer.php
Labels: status:review-OK

#353 [952] Footer pixhunt
  assets/styles/components/_Newsletter.scss
  assets/styles/layouts/Footer.scss
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#354 [1036, 1038] SEO Improvements
  templates/content-archive-ms_glossary.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_integrations.php
Labels: status:ready-to-merge, status:review-OK

#356 [952] Compact footer height
  assets/styles/layouts/Footer.scss
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#357 [1042] fix: horizontal tabs when user not logged in
  assets/scripts/app/app.js
  assets/styles/components/HorizontalTabs.scss
Labels: status:review-OK

#358 [1030] fix: remove duplicate x-default hreflang link
  functions/content-filters.php
Labels: status:review-OK

#359 [1029] fix: remove back button from affiliate manager
  assets/styles/pages/AffiliateManager.scss
  lib/includes/affiliate-manager/affiliate-manager-layout.php
Labels: status:review-OK

#360 [1027] fix: contactus form id by language
  contactus-box.php
Labels: status:ready-to-merge, status:review-OK

#361 [1046] DE Domain Changes
  assets/styles/components/BlockPricingNew.scss
Labels: status:ready-to-merge, status:review-OK

#362 [1054] Learn more arrow from icons.svg
  assets/styles/common/_mixins.scss
  assets/styles/components/BoxesStars.scss
  assets/styles/elements/_Typography.scss
  functions/content-filters.php
Labels: status:ready-to-merge, status:review-OK

#363 [1056] Tag title bottom space
  assets/styles/components/_Block.scss
Labels: status:ready-to-merge, status:review-OK

#364 [1064] feat: add twitter ads tracking
  assets/scripts/static/crm.js
  base-scripts.php
Labels: status:ready-to-merge, status:review-OK

#365 fix: block video gradient
  assets/styles/components/BlockVideo.scss
Labels: status:ready-to-merge, status:review-OK

#366 fix: remove mail and phone from affiliate managers
  lib/includes/affiliate-manager/affiliate-manager-layout.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#367 feat: add directories manager contacts back
  lib/includes/affiliate-manager/affiliate-manager-layout.php
  templates/content-single-ms_directory.php
Labels: status:review-OK

#368 [1063] fix: multiple small fixes
  assets/styles/components/_Block.scss
  assets/styles/components/_DemoBar.scss
  assets/styles/layouts/_Post.scss
  templates/footer.php
Labels: status:ready-to-merge, status:review-OK

#370 [995] Core Web Vitals Optimisation
  assets/styles/app.scss
  assets/styles/components/EnhancedFaq.scss
  base-scripts.php
  base.php
  lib/assets.php
  templates/head.php
Labels: status:review-OK

#369 [1061] awards heroheadline
  assets/images/heroHeadline_award_badges_bg.png
  assets/images/heroHeadline_award_badges_text.svg
  assets/styles/components/_AwardsHeroHeader.scss
  assets/styles/components/_HeroHeadlineHome.scss
  functions.php
  functions/elementor-content-filters.php
Labels: status:ready-to-merge, status:review-OK
