Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2023-08, with the labels that each got.

#522 [1651] Update PAP trial CTA text
  lib/shortcodes/signup-form.php
  templates/content-single-ms_directory.php
Labels: status:ready-to-merge, status:review-OK

#524 [1808] feat: urlslab plugin faq replacing shortcode
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/EnhancedFaq.scss
  assets/styles/components/ResearchFilter.scss
  assets/styles/components/_ExtraFaq.scss
  assets/styles/components/_Faq.scss
  assets/styles/components/_ShortFaq.scss
  assets/styles/shortcodes/_UrlslabFaq.scss
  lib/metaboxes/glossary.php
  lib/metaboxes/integrations.php
  lib/shortcodes/extra-faq.php
  lib/shortcodes/short-faq.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_research.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: action:needs-review

#523 [1142] Redesign of footer
  assets/images/footer-background-vector.svg
  assets/styles/common/_mixins.scss
  assets/styles/common/_variables.scss
  assets/styles/layouts/Footer.scss
  lib/setup.php
  templates/footer.php
Labels: status:review-OK

#525 [1888] feat: redesign videos archive
  assets/images/compact_header_about_us.png
  assets/images/compact_header_academy.png
  assets/images/compact_header_awards.png
  assets/images/compact_header_blog.png
  assets/images/compact_header_checklist.png
  assets/images/compact_header_directory.png
  assets/images/compact_header_features.png
  assets/images/compact_header_glossary.png
  assets/images/compact_header_integrations.png
  assets/images/compact_header_research.png
  assets/images/compact_header_reviews_1.png
  assets/images/compact_header_reviews_2.png
  assets/images/compact_header_templates.png
  assets/images/compact_header_use_cases.png
  assets/images/compact_header_webinars.png
  assets/scripts/custom/compactHeader.js
  assets/scripts/custom/filterNew.js
  assets/styles/app.scss
  assets/styles/components/_CategoryItem.scss
  assets/styles/components/compactHeader.scss
  assets/styles/elements/_Breadcrumb.scss
  assets/styles/elements/_FilterMenu.scss
  assets/styles/pages/Category.scss
  functions/import-functions.php
  lib/assets.php
  lib/custom-blocks/checklist-post-header-small.php
  lib/custom-blocks/compact-header.php
  templates/content-archive-ms_videos.php
Labels: status:review-OK
