Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2023-03, with the labels that each got.

#399 [1070] Blocks styles changes according figma comments
  assets/styles/components/BlockPricingNew.scss
  assets/styles/components/_BlockIcons.scss
Labels: status:ready-to-merge, status:review-OK

#418 [2486] feat: send ga4 id to crm
  assets/scripts/static/crm.js
Labels: status:review-OK

#420 [1071] Hero image centered and icons svg update
  assets/styles/components/_HeroHeadlineHome.scss
  composer.lock
Labels: status:review-OK

#421 [1071] Hero image position
  assets/styles/components/_HeroHeadlineHome.scss
Labels: status:done, status:review-OK

#422 [1166] Manager industry function redeclaration
  templates/content-single-ms_directory.php
Labels: status:review-OK
