Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2024-08, with the labels that each got.

#827 [3087] fix: saving with awards banner active
  functions/elementor-content-filters.php
  lib/shortcodes/awards-small.php
Labels: status:done, status:review-OK

#828 [3088] Rewrite css for checkmarks in lists
  assets/styles/elements/_PostTypography.scss
Labels: action:needs-review

#830 [3135] Hide title "Related articles" if empty from urslslab shortcode
  elementor.php
  functions.php
  functions/urlslab-related-posts.php
  template-academy.php
  template-blog-header.php
  template-blog.php
  templates/content-page.php
  templates/content-single-ms_academy.php
  templates/content-single-ms_directory.php
  templates/content-single-ms_features.php
  templates/content-single-ms_glossary.php
  templates/content-single-ms_integrations.php
  templates/content-single-ms_research.php
  templates/content-single-ms_templates.php
  templates/content-single-ms_videos.php
  templates/content-single.php
Labels: action:needs-review

#832 fixed syntax in function
  functions.php
Labels: status:done, status:review-OK

#829 [3019] feat: adds query params to every postaffiliate url on page
  assets/scripts/app/queryParamsToUrls.js
Labels: status:review-OK

#833 [3162] Blacklist some parameters which are not forwarded to other links
  assets/scripts/app/queryParamsToUrls.js
Labels: action:needs-review

#834 [3162] Blacklist some parameters which are not forwarded to other links
  assets/scripts/app/queryParamsToUrls.js
Labels: action:needs-review

#837 [3162] Disabled js for query param
  assets/scripts/app/queryParamsToUrls.js
Labels: action:needs-review
