Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2024-01, with the labels that each got.

#615 [2523] header banners
  .eslintrc
  assets/images/AnnouncementBar-LiveAgent.png
  assets/images/AnnouncementBar-LiveAgent_bg.jpg
  assets/images/AnnouncementBar-PAP.png
  assets/images/AnnouncementBar-PAP_bg.jpg
  assets/images/AnnouncementBar-Urlslab.png
  assets/images/AnnouncementBar-Urlslab_bg.jpg
  assets/images/close-announcements-bar-icon.svg
  assets/scripts/app/fakeChatButton.js
  assets/scripts/custom/AnnouncementBar.js
  assets/scripts/static/login.js
  assets/scripts/static/source.js
  assets/styles/common/_global.scss
  assets/styles/components/AnnouncementBar.scss
  functions.php
  functions/components-import.php
  functions/header-banners.php
  templates/header.php
Labels: action:needs-review

#616 [2531] Added redirect for videos categories
  functions/redirects.php
Labels: action:needs-review

#634 [2580] Incorrect H2 "Partner" on integration posts PAP
  templates/content-single-ms_integrations.php
Labels: action:needs-review

#635 [2583] Renamed incorrect tooltips for mobile phone in footer
  templates/footer.php
Labels: action:needs-review

#636 [2592] Rearrange the order in which CSS files load to minimise CLS
  lib/assets.php
  lib/includes/affiliate-manager/affiliate-manager.php
Labels: action:needs-review

#617 [1361] redesign mobile menu
  assets/images/pap-logo-only-icon.svg
  assets/scripts/app/app.js
  assets/styles/common/_variables.scss
  assets/styles/components/_HeaderLanguageSwitcher.scss
  assets/styles/layouts/Header.scss
  functions.php
  functions/create-language-menu.php
  lib/setup.php
  lib/shortcodes/language-switcher.php
  templates/header.php
Labels: status:review-OK

#638 [2618] Changing duration of trials
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form.php
  template-trial-network.php
  template-trial.php
Labels: status:done, status:review-OK

#642 [2624] FAQs added through urlslab are not showing in "Videos" on PAP
  templates/content-single-ms_videos.php
Labels: status:review-OK

#641 Upgrade Coding Standards
  .idea/php.xml
  .idea/phpunit.xml
  .idea/postaffiliatepro-theme.iml
  base.php
  composer.json
  composer.lock
  functions.php
  functions/content-filters-learn-more.php
  functions/redirects.php
  functions/widgets.php
  lib/cleaner/assets.php
  lib/custom-blocks/compact-header.php
  lib/rest-api/get-language-codes.php
  lib/rest-api/rest-api-get-integration-methods.php
  lib/setup.php
  lib/shortcodes/awards-small.php
  lib/shortcodes/language-switcher.php
  templates/content-single-ms_integrations.php
  templates/header.php
Labels: action:needs-review

#643 [1327] Pinned CTA Buttons on Mobiles
  assets/scripts/app/toggleVisibility.js
  assets/scripts/app/trialSticky.js
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/TrialStickyButton.scss
  assets/styles/components/_ContactUs.scss
  templates/footer.php
Labels: status:review-OK

#644 [2628] The video transcript feature has a broken design on PAP
  assets/scripts/app/videoTranscript.js
  assets/styles/app.scss
  assets/styles/shortcodes/VideoTranscript.scss
  templates/content-single-ms_videos.php
Labels: action:needs-review

#645 [2658] fix: responsivity and image position
  assets/styles/components/AnnouncementBar.scss
Labels: action:needs-review

#646 [2658] fix: responsivity and image position
  assets/styles/components/AnnouncementBar.scss
Labels: status:done, status:review-OK

#647 I2658 annoucement bar responsivness v2
  assets/styles/components/AnnouncementBar.scss
Labels: action:needs-review

#649 [2658] fix: position of header banner image
  assets/styles/components/AnnouncementBar.scss
Labels: action:needs-review

#648 [2657] Take a tour - video bug
  assets/styles/components/MerchantAffiliate.scss
Labels: status:review-OK
