Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2024-02, with the labels that each got.

#666 [2658] fix: image position
  assets/styles/components/AnnouncementBar.scss
Labels: status:review-OK

#667 [1625] feat: redesign of login
  assets/images/login_bg.png
  assets/styles/components/_Login.scss
  lib/shortcodes/login.php
Labels: action:needs-review

#668 [1412] good hands redesign
  assets/images/goodhands_image.png
  assets/images/logo-capterra.svg
  assets/styles/Elementor.scss
  assets/styles/app.scss
  assets/styles/components/_GoodHands.scss
  assets/styles/components/_Reviews.scss
  lib/shortcodes/good-hands.php
Labels: status:review-OK

#669 [1412] good hands redesign v2
  assets/styles/components/_GoodHands.scss
  assets/styles/layouts/Footer.scss
  elementor.php
  front-page.php
  lib/shortcodes/good-hands.php
Labels: status:review-OK

#670 [1725] feat: new image by feature category
  assets/images/features-category_commissions.jpg
  assets/images/features-category_promotional-materials.jpg
  assets/images/features-category_reporting.jpg
  assets/images/features-category_security.jpg
  assets/images/features-category_tracking-methods.jpg
  assets/images/features-category_types-of-commissions.jpg
  assets/images/features-category_user-interface.jpg
  assets/styles/components/compactHeader.scss
  elementor.php
  templates/content-single-ms_features.php
Labels: action:needs-review

#672 fix: css
  assets/styles/components/_Login.scss
Labels: status:done, status:review-OK

#671 [2762] Visual bugs on https://www.postaffiliatepro.com/automation/
  assets/scripts/custom/IconTabs.js
  assets/styles/components/IconTabs.scss
Labels: status:review-OK

#673 Fix demobar on the trial page in DE version PAP
  assets/scripts/app/demobar.js
  templates/footer.php
Labels: status:review-OK

#674 [2799] Change of our WA number in multiwidget on PostAffiliatePro website
  contactus-box.php
  templates/footer.php
Labels: status:done, status:review-OK

#675 fix: image position
  assets/styles/components/AnnouncementBar.scss
Labels: status:done, status:review-OK

#676 [1583] alternatives redesign
  assets/images/alternatives-header_img.png
  assets/images/network_pricing-icon.svg
  assets/images/play_bar.svg
  assets/images/press_to_play_horizontal.svg
  assets/images/pro_pricing-icon.svg
  assets/scripts/app/custom_lightbox_youtube.js
  assets/scripts/app/responsiveTable.js
  assets/styles/common/_global.scss
  assets/styles/common/_variables.scss
  assets/styles/common/elementor-custom.scss
  assets/styles/components/AlternativeTable.scss
  assets/styles/components/BlockPricingNew.scss
  assets/styles/components/GutenbergVideo.scss
  assets/styles/components/Table.scss
  assets/styles/shortcodes/AlternativesList.scss
  functions/components-import.php
  functions/content-filters.php
  functions/redirects.php
  lib/assets.php
  lib/cleaner/assets.php
  lib/custom-blocks/compact-header.php
  lib/post-types/alternatives.php
  lib/shortcodes/alternatives.php
  templates/content-archive-ms_alternatives.php
  templates/content-single-ms_alternatives.php
Labels: status:done, status:review-OK

#677 [1509] expert note
  assets/images/andrej_saxon_new.png
  assets/images/expert_badge.svg
  assets/styles/shortcodes/ExpertNote.scss
  functions/shortcodes.php
  lib/shortcodes/expert-note.php
  templates/content-single-ms_glossary.php
Labels: status:review-OK

#678 2785 Rework Contact us element on PAP
  assets/scripts/custom/socialShareFunctions.js
  assets/styles/components/_BlogShare.scss
  assets/styles/components/_ContactUs.scss
  contactus-box.php
  templates/content-single.php
Labels: status:review-OK

#679 [2854] Pricing on PAP Product pages is broken
  assets/styles/components/BlockPricingNew.scss
Labels: action:needs-review

#681 [2863] feat: upgrade to node 20
  .github/workflows/build-test-qu-howtos.yml
  .github/workflows/build-test.yml
  .github/workflows/eslint.yml
  .github/workflows/stylelint.yml
  lib/widgets/qu-howtos/package.json
  lib/widgets/qu-howtos/yarn.lock
  package.json
  yarn.lock
Labels: action:needs-review

#682 [2863 ] fix: i2863_node_build_to_20
  .github/workflows/publish-release.yml
Labels: status:review-OK

#683 fix: assets loading only when in edit mode
  assets/styles/components/Table.scss
  functions/components-import.php
Labels: action:needs-review

#684 [2876] fix: good hands banner hiding
  elementor.php
  front-page.php
  templates/footer.php
Labels: status:done, status:review-OK
