Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2024-11, with the labels that each got.

#897 chore: change path
  .github/workflows/add_to_project.yml
Labels: action:needs-review

#895 [3177] fix: make chatbot input placeholder translatable
  base-scripts.php
Labels: action:needs-review

#900 chore: back to old files
  .github/workflows/add_to_project.yml
Labels: action:needs-review

#904 [3232] fix: cls improvements
  assets/images/trial_sidebar_bg.jpg
  assets/styles/components/_AwardsHeroHeader.scss
  assets/styles/elements/_YoutubeLoader.scss
  base-scripts.php
  lib/shortcodes/awards-small.php
  lib/shortcodes/clients.php
Labels: status:done, status:review-OK

#905 [3688] Black Friday / Cyber Monday promotion 2024
  assets/styles/components/BlockCoupon.scss
  assets/styles/shortcodes/Countdown.scss
  lib/shortcodes/countdown.php
Labels: status:review-OK

#902 [3272] fix: multiple bugfixes
  assets/styles/components/BlockPricingNew.scss
  assets/styles/components/_CategoryItem.scss
  elementor.php
  functions/taxonomies.php
  functions/urlslab-related-posts.php
  lib/cleaner/assets.php
  lib/post-types/alternatives.php
  lib/shortcodes/alternatives.php
  templates/content-archive-ms_academy.php
  templates/content-archive-ms_templates.php
  templates/content-page.php
Labels: action:needs-review

#903 [3294] fix: chatbot localizable string entries
  assets/scripts/custom/testimonials_blocks.js
  assets/styles/pages/Archive.scss
  base-scripts.php
  contactus-box.php
  functions/taxonomies.php
  lib/pagesources.php
  lib/taxonomies/successstories-categories.php
Labels: DO NOT MERGE

#906 [3305]: PAP Black Friday pricing banner - Copy coupon - button does not work
  assets/scripts/app/app.js
  assets/scripts/custom/countdown.js
Labels: action:needs-review

#907 [3259]: Fix code scanning alert - DOM text reinterpreted as HTML
  assets/scripts/custom/sidebar_items_slider.js
  assets/scripts/custom/sidebar_toc.js
Labels: status:review-OK

#908 [3039] [Bug]: Impossible to resubmit sign up form
  lib/shortcodes/awards-small.php
Labels: status:review-OK
