Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2024-03, with the labels that each got.

#697 [2885] feat: chatbot integration
  assets/images/contact/chatbot.svg
  assets/styles/components/_ContactUs.scss
  contactus-box.php
Labels: action:needs-review

#699 [2885] feat: replacing contact form with chatbot on selected pages
  assets/styles/common/_global.scss
  assets/styles/components/_ContactUs.scss
  base-scripts.php
Labels: action:needs-review

#698 [2501] Author page for each Author in PAP website
  assets/scripts/custom/blogLazyLoad.js
  assets/styles/app.scss
  assets/styles/components/BlogTopPost.scss
  assets/styles/components/compactHeader.scss
  assets/styles/layouts/_BlogPost.scss
  functions/import-functions.php
  lib/custom-blocks/compact-header.php
  lib/rest-api/get-blog-posts.php
  templates/content-archive.php
  templates/content-single.php
Labels: status:review-OK

#701 fix: hiding image on mobile
  assets/styles/components/_GoodHands.scss
Labels: status:done, status:review-OK

#702 [2885] fix: loading contact us chatbot on cookies only
  base-scripts.php
  contactus-box.php
Labels: status:done, status:review-OK

#703 [1616] feat: affiliate program redesign and dynamic award badges added
  assets/images/hero-banner-awards.png
  assets/images/hero-banner-awards__title.png
  assets/images/hero-banner-awards_small.jpg
  assets/images/hero-banner-awards_small.png
  assets/styles/app.scss
  assets/styles/common/_global.scss
  assets/styles/common/_lightbox.scss
  assets/styles/components/AffiliateSignup.scss
  assets/styles/components/BlocksWrap.scss
  assets/styles/components/_Block.scss
  assets/styles/elements/_Form.scss
  assets/styles/elements/_Typography.scss
  assets/styles/layouts/_Custom.scss
  assets/styles/shortcodes/HeroBannerAwards.scss
  functions.php
  functions/components-import.php
  functions/dynamic-award-badges.php
  functions/import-functions.php
  functions/shortcodes.php
  lib/shortcodes/hero-banner-awards.php
Labels: status:done, status:review-OK

#704 [1616] affiliate program icons
  assets/scripts/app/tooltips.js
  assets/scripts/vendor/popper.js
  assets/styles/components/AffiliateSignup.scss
  assets/styles/elements/_Tooltip.scss
  composer.lock
  gulpfile.js
  lib/assets.php
Labels: action:needs-review

#705 [1616] fix: added filter menu script to affiliate signup
  assets/scripts/custom/responsiveTable.js
  functions/components-import.php
Labels: action:needs-review

#706 fix: info icon pricing tooltip
  assets/styles/elements/_Tooltip.scss
Labels: action:needs-review

#708 [2912] PAP /tour page missing image
  assets/styles/components/MerchantAffiliate.scss
Labels: action:needs-review

#709 [2912] Centering text in hero big element
  assets/styles/components/HeroBig.scss
Labels: action:needs-review

#710 [2021] feat: contact us servers status verification
  assets/styles/components/_ContactUs.scss
  composer.lock
  contactus-box.php
Labels: action:needs-review

#713 [2827] Removing yoast seo pagination on PAP
  lib/cleaner/assets.php
Labels: status:done, status:review-OK

#714 [1616] fix: affiliate program signup scrollbar
  assets/styles/common/_mixins.scss
  assets/styles/components/AffiliateSignup.scss
Labels: status:done, status:review-OK
