Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2025-01, with the labels that each got.

#929 [3197] Replace Homepage Image with Embedded Video
  assets/scripts/custom/custom_lightbox_youtube.js
Labels: action:needs-review

#930 [3314] - fix: changed styles for images on the integration methods list
  assets/styles/components/_CategoryItem.scss
Labels: action:changes-requested

#932 [3306] - fix: changed color scheme for buttons on homepage
  assets/styles/layouts/Footer.scss
  lib/setup.php
  lib/shortcodes/good-hands.php
  templates/header.php
Labels: action:needs-review

#948 [3333] - fix: reduced padding and line-height for optimise view button on tabl…
  assets/styles/layouts/_ComparePlans.scss
Labels: status:done, status:review-OK

#931 [3278] - fix: added fix height for iframe on demo page
  assets/styles/layouts/tests/RequestDemo.scss
Labels: action:needs-review

#950 [3343] Request for replacement of chatbot button in contact multiwidget on PAP
  ai-chat-button.php
  assets/styles/components/_ContactUs.scss
  base-scripts.php
  chat-button.php
  contactus-box.php
Labels: action:needs-review

#951 [3349] chat & chatbot widget adjustments on the website
  base-scripts.php
  contactus-box.php
Labels: action:needs-review
