Repository QualityUnit/postaffiliatepro-theme, pull requests merged in 2025-02, with the labels that each got.

#966 [3275] Consent mode reporting - required by google analytics
  base-scripts.php
Labels: action:needs-review

#965 [3348] - feat: added script for CrozDesk Conversion Tracking
  base-scripts.php
Labels: action:needs-review

#967 [3741] - feat: changed "14" to "30" days free trial on whole site
  lib/shortcodes/cta.php
  lib/shortcodes/good-hands.php
  lib/shortcodes/signup-form-network.php
  lib/shortcodes/signup-form.php
  template-trial-network.php
  template-trial.php
  templates/content-single-ms_directory.php
Labels: status:done, status:review-OK

#975 Removed add to project action from github workflow
  .github/workflows/add_to_project.yml
Labels: status:review-OK

#982 fix: change customer_id to string
  base-scripts.php
Labels: action:needs-review
